/* Fuentes locales */
@font-face {
    font-family: 'pacificoregular';
    src: url('fonts/pacifico-webfont.woff2') format('woff2'),
         url('fonts/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Propiedades de cajas */
html {
  margin: 0;
  padding: 0;
  background-color: #b2d8d8;
}

body {
  width: 90%;
  margin: 0 auto;
}

header {
  margin:0;
  padding: 0;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 0;
}

nav, footer {
  padding: 1%;
  background-color: white;
}

nav {
  height: 50px;
  margin-bottom: 10px;
  background-color: #004c4c;
  display: flex;
  flex-flow: row wrap;
}

nav .izquierda {
  flex: 1;
  display: flex;
  align-items: center;
}

nav .centro {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2em;
}

input {
  font-size: 1.4rem;
  height: 30px;
}

input[type="search"] {
  flex: 3;
}

input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

nav .derecha {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.izquierda ul {
  width: 100%;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

nav a:link, nav a:visited, nav a:focus {
  color: white;
}

nav a:hover {
  color: black;
}

nav a:active {
  color: #3fbf7f;
}

footer {
  margin-top: 10px;
}

/* Tipografía */
html {
  font-size: 10px;
  font-family: sans-serif;
}

header {
  font-family: 'pacificoregular';
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 2rem;
}
