/* Fuentes locales */
@font-face {
    font-family: 'pacificoregular';
    src: url('fonts/pacifico-webfont.woff2') format('woff2'),
         url('fonts/pacifico-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'robotoblack';
    src: url('fonts/roboto-black-webfont.woff2') format('woff2'),
         url('fonts/roboto-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('opensans-regular-webfont.woff2') format('woff2'),
         url('opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Propiedades de cajas */
html {
  margin: 0;
  padding: 0;
  background-color: #b2d8d8;
}

body {
  width: 90%;
  margin: 0 auto;
}

header {
  margin:0;
  padding: 0;
  text-align: center;
}

header h1 {
  margin-bottom: 0;
}

header p {
  margin-top: 0;
}

nav, footer {
  padding: 1%;
  background-color: white;
}

nav {
  height: 50px;
  margin-bottom: 10px;
  background-color: #004c4c;
  display: flex;
  flex-flow: row wrap;
}

nav .izquierda {
  flex: 1;
  display: flex;
  align-items: center;
}

nav .centro {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 2em;
}

nav input {
  font-size: 1.4rem;
  height: 30px;
}

nav input[type="search"] {
  flex: 3;
}

nav input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #333;
  border: 0;
  color: white;
}

nav .derecha {
  flex: 1;
  display: flex;
  align-items: center;
}

nav ul {
  padding: 0;
  list-style-type: none;
  display: flex;
}

.izquierda ul, .derecha ul {
  width: 100%;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

nav a:link, nav a:visited, nav a:focus {
  color: white;
}

nav a:hover {
  color: black;
}

nav a:active {
  color: #3fbf7f;
}

footer {
  margin-top: 10px;
}

/* Tipografía */
html {
  font-size: 10px;
  font-family: sans-serif;
}

header {
  font-family: 'pacificoregular';
}

header h1 {
  font-size: 3rem;
}

header p {
  font-size: 2rem;
}

.login {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

.login-header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.login-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #004c4c;
}

.login-header {
  background: #004c4c;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.login-container {
  background: #ebebeb;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.login input[type="text"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="text"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: #008080;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #004c4c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}
